In [3]:
# Exercise 2.1: Working with Python Lists
shopping = ["bread","milk", "eggs"]
print(shopping)
for item in shopping:
  print(item)

['bread', 'milk', 'eggs']
bread
milk
eggs

In [7]:
# Exercise 2.2: Using a Nested List to Store Data from a Matrix
m = [[1, 2, 3], [4, 5, 6]]
print(m[1][1])
for i in range(len(m)):
      for j in range(len(m[i])):
            print(m[i][j])

5
1
2
3
4
5
6

In [8]:
# Continued Exercise 2.2
for row in m:
      for col in row:
        print(col)

1
2
3
4
5
6

In [14]:
# Activity 6: Using a Nested List to Store Employee Data
employees = [['John Mckee', 38, 'Sales'], ['Lisa Crawford', 29, 'Marketing'], ['Sujan Patel', 33, 'HR']]
print(employees)

[['John Mckee', 38, 'Sales'], ['Lisa Crawford', 29, 'Marketing'], ['Sujan Patel', 33, 'HR']]

In [15]:
# Activity 6: Using a Nested List to Store Employee Data (Continued)
for employee in employees:
    print(employee)

['John Mckee', 38, 'Sales']
['Lisa Crawford', 29, 'Marketing']
['Sujan Patel', 33, 'HR']

In [16]:
# Activity 6: Using a Nested List to Store Employee Data (Continued)
for employee in employees:
    print("Name:", employee[0])
    print("Age:", employee[1])
    print("Department:", employee[2])
    print('-' * 20)

Name: John Mckee
Age: 38
Department: Sales
--------------------
Name: Lisa Crawford
Age: 29
Department: Marketing
--------------------
Name: Sujan Patel
Age: 33
Department: HR
--------------------

In [17]:
# Activity 6: Using a Nested List to Store Employee Data (Continued)
employee = employees[1]
print(employee)
print("Name:", employee[0])
print("Age:", employee[1])
print("Department:", employee[2])
print('-' * 20)

['Lisa Crawford', 29, 'Marketing']
Name: Lisa Crawford
Age: 29
Department: Marketing
--------------------

In [18]:
# Exercise 2.3: Implementing Matrix Operations (Addition and Subtraction)
X = [[1,2,3],[4,5,6],[7,8,9]]
Y = [[10,11,12],[13,14,15],[16,17,18]]

# Initialize a result placeholder
result = [[0,0,0], 
    [0,0,0], 
    [0,0,0]]

# iterate through rows
for i in range(len(X)):  
# iterate through columns 
  for j in range(len(X[0])): 
    result[i][j] = X[i][j] + Y[i][j] 
    
print(result)

[[11, 13, 15], [17, 19, 21], [23, 25, 27]]

In [ ]:
# Exercise 2.3: Implementing Matrix Operations (Addition and Subtraction) [Continued]

X = [[10,11,12],[13,14,15],[16,17,18]]
Y = [[1,2,3],[4,5,6],[7,8,9]]
# Initialize a result placeholder
result = [[0,0,0], 
    [0,0,0], 
    [0,0,0]] 
# iterate through rows 
for i in range(len(X)):  
# iterate through columns 
  for j in range(len(X[0])): 
    result[i][j] = X[i][j] - Y[i][j] 
    
print(result)

In [3]:
# Exercise 3.4: Implementing Matrix Operations (Multiplication)
X = [[1, 2], [4, 5], [3, 6]]
Y = [[1,2,3,4],[5,6,7,8]]

result = [[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]] 

# iterating by row of X 
for i in range(len(X)): 
    # iterating by column by Y 
    for j in range(len(Y[0])): 
        # iterating by rows of Y
        for k in range(len(Y)):
            result[i][j] += X[i][k] * Y[k][j] 

for r in result: 
    print(r)

[11, 14, 17, 20]
[29, 38, 47, 56]
[33, 42, 51, 60]

In [6]:
# Exercise 2.5: Basic List Operations
shopping = ["bread","milk", "eggs"]

print(len(shopping))

list1 = [1,2,3]
list2 = [4,5,6]
final_list = list1 + list2
print(final_list)

list3 = ['oi']
print(list3*3)

3
[1, 2, 3, 4, 5, 6]
['oi', 'oi', 'oi']

In [8]:
# Exercise 2.6: Accessing an Item from Shopping List Data

shopping = ["bread","milk", "eggs"]
print(shopping[1])
print(shopping[-1])

milk
eggs

In [11]:
# Exercise 2.7: Adding Items to Our Shopping List

shopping = ["bread","milk", "eggs"]
shopping.append("apple")
print(shopping)

shopping = []
shopping.append('bread')
shopping.append('milk')
shopping.append('eggs')
shopping.append('apple')
print(shopping)

shopping.insert(2, 'ham') 
print(shopping)

['bread', 'milk', 'eggs', 'apple']
['bread', 'milk', 'eggs', 'apple']
['bread', 'milk', 'ham', 'eggs', 'apple']

In [15]:
#Exercise 2.8: Using a Dictionary to Store a Movie Record
movie = {
  "title": "The Godfather",
  "director": "Francis Ford Coppola",
  "year": 1972,
  "rating": 9.2
}

print(movie['year'])

movie['rating'] = (movie['rating'] + 9.3)/2
print(movie['rating'])

movie = {}
movie['title'] = "The Godfather"
movie['director'] = "Francis Ford Coppola"
movie['year'] = 1972
movie['rating'] = 9.2

movie['actors'] = ['Marlon Brando', 'Al Pacino', 'James Caan']
movie['other_details'] = {
  'runtime': 175,
  'language': 'English'
}
print(movie)

1972
9.25
{'title': 'The Godfather', 'director': 'Francis Ford Coppola', 'year': 1972, 'rating': 9.2, 'actors': ['Marlon Brando', 'Al Pacino', 'James Caan'], 'other_details': {'runtime': 175, 'language': 'English'}}

In [30]:
# Activity 7: Storing Company Employee Table Data Using a List and a Dictionary
employees = []

Employee_1 = { 'Name': 'John Mckee', 'Age': 38, 'Department': 'Sales'}
Employee_2 = { 'Name': 'Lisa Crawford', 'Age': 29, 'Department': 'Marketing'}
Employee_3 = { 'Name': 'Sujan Patel', 'Age': 33, 'Department': 'HR'}

employees.append(Employee_1)
employees.append(Employee_2)
employees.append(Employee_3)

for employee in employees:
    print('Name: {}'.format(employee['Name']))
    print('Age: {}'.format(employee['Age']))
    print('Department: {}'.format(employee['Department']))
    print('_' * 20)

for employee in employees:
    if employee['Name'] == 'Sujan Patel':
        print("Name:", employee['Name'])
        print("Age:", employee['Age'])
        print("Department:", employee['Department'])
        print('-' * 20)

Name: John Mckee
Age: 38
Department: Sales
____________________
Name: Lisa Crawford
Age: 29
Department: Marketing
____________________
Name: Sujan Patel
Age: 33
Department: HR
____________________
Name: Sujan Patel
Age: 33
Department: HR
--------------------

In [36]:
# Exercise 29: Using the zip() Method to Manipulate Dictionaries
items = ['apple', 'orange', 'banana']
quantity = [5,3,2]

orders = zip(items, quantity)
print(orders)

orders = zip(items,quantity)
print(list(orders))

orders = zip(items,quantity)
print(tuple(orders))

orders = zip(items,quantity)
print(dict(orders))

<zip object at 0x000001E8BB83FF00>
[('apple', 5), ('orange', 3), ('banana', 2)]
(('apple', 5), ('orange', 3), ('banana', 2))
{'apple': 5, 'orange': 3, 'banana': 2}

In [38]:
# Exercise 30: Accessing a Dictionary Using Dictionary Methods
orders = {'apple':5, 'orange':3, 'banana':2}
print(orders.values())
print(list(orders.values()))

print(list(orders.keys()))

for tuple in list(orders.items()):
      print(tuple)

dict_values([5, 3, 2])
[5, 3, 2]
['apple', 'orange', 'banana']
('apple', 5)
('orange', 3)
('banana', 2)

In [42]:
# Exercise 31: Exploring Tuple Properties in Our Shopping List
t = ('bread', 'milk', 'eggs')
print(len(t))

#t.append('apple')

print(t + ('apple', 'orange'))
print(t)

t_mixed = 'apple', True, 3
print(t_mixed)
t_shopping = ('apple',3), ('orange',2), ('banana',5)
print(t_shopping)

3
('bread', 'milk', 'eggs', 'apple', 'orange')
('bread', 'milk', 'eggs')
('apple', True, 3)
(('apple', 3), ('orange', 2), ('banana', 5))

In [43]:
# Exercise 32: Using Sets in Python
s1 = set([1,2,3,4,5,6])
print(s1)
s2 = set([1,2,2,3,4,4,5,6,6])
print(s2)
s3 = set([3,4,5,6,6,6,1,1,2])
print(s3)

s4 = {"apple", "orange", "banana"}
print(s4)

s4.add('pineapple')
print(s4)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

In [48]:
# Exercise 33: Implementing Set Operations
s5 = {1,2,3,4}
s6 = {3,4,5,6}

print(s5 | s6)
print(s5.union(s6))

print(s5 <= s6)
print(s5.issubset(s6))
s7 = {1,2,3}
s8 = {1,2,3,4,5}
print(s7 <= s8)
print(s7.issubset(s8))


# The first two statements will return False because s5 is not a subset of s6. 
# The last two statements will return True because s7 is a subset of s8. 
# Do take note that <= operator is a test for the subset. 
# A proper subset is the same as a general subset, except that the sets cannot be identical. 
# You can try it out in a new cell with the following code.

print(s7 < s8)
s9 = {1,2,3}
s10 = {1,2,3}
print(s9 < s10)
print(s9 < s9)

# We can see that s7 is a proper subset of s8 because there are other elements in s8 
# apart from all the elements of s7. But s9 is not a subset of s10 because they are identical. 
# Therefore, a set is not a subset of itself.

print(s8 >= s7)
print(s8.issuperset(s7))
print(s8 > s7)
print(s8 > s8)

# The first three statements will return True because s8 is the superset of s7 and is also a proper superset of s7.
# The last statement will return False because no set can be a proper superset of itself.

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
False
False
True
True
True
False
False